:root {
    --left-bar-size: 250px;
}

@media print {
    body {
        width: 21cm;
        height: 29.7cm;
   } 
}

* { margin: 0; }

html {
    background-color: black;
}

body {
    width: 21cm;
    height: 29.7cm;
    margin-left: calc(50% - 21cm / 2);
    background-color: #FFF;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

#top-bar {
    width: 100%;
    height: var(--left-bar-size);
    color: white;
    background-color: #154158;

    display: grid;
    grid-template-columns: var(--left-bar-size) auto;
    column-gap: 20px;

    position: relative;
    -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0 , 0, 0.75);
    -moz-box-shadow: 0px 5px 10px 5px rgba(0, 0 , 0, 0.75);
    box-shadow: 0px 5px 10px 5px rgba(0, 0 , 0, 0.75);
}

#top-bar p:not(:last-child) {
    margin-bottom: 5px;
}

#top-bar a {
    color: #FFF;
    text-decoration: none;
}

#photo {
    padding: 15%;
}

#photo img {
    width: 100%;
    border: 2px solid #FFF;
    border-radius: 50%;
}

#infos {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 30px;
}

#personal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personal-col {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    row-gap: 10px;
}

#content {
    height: calc(100% - var(--left-bar-size));
    display: grid;
    grid-template-columns: var(--left-bar-size) auto;
}

#left-bar {
    padding: 30px 20px 20px 20px;
    color: white;
    background-color: #165572;
}

.left-bar-block-1:first-child {
    margin-bottom: 30px;
}

.left-bar-block-1 h1 {
    border-bottom: 1px solid #FFF;
}

.left-bar-block-2:not(:last-child) {
    margin-bottom: 20px;
}

.left-bar-block-2 h2 {
    margin-bottom: 10px;
}

.left-bar-element h3 {
    margin-left: 10px;
    margin-bottom: 3px;
}

.left-bar-element p {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.left-bar-element p, .left-bar-element span {
    color: #AFCAD3;
}

.left-bar-element a {
    color: #009FE3;
}

#left-bar-social-networks {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 10px;
}

#left-bar-social-networks img {
    width: 25px;
}

#main {
    padding: 30px 20px 20px 20px;
}

#main h1 {
    border-bottom: 1px solid #000;
}

.main-block-1 {
    margin-bottom: 20px;
}

#skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;

    margin-bottom: 20px;
}

.skill h3 {
    margin-left: 5px;
}

.skill-bar {
    height: 6px;
    border: 1px solid #000;
    padding: 1px;
}

.skill-bar-progress {
    height: 100%;
    width: var(--progress);
    background: #6199B2;
}

#skills-other {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    justify-items: center;
}

.experience {
    padding: 0 10px;
    display: grid;
    grid-template-areas: "title  date"
                         "desc   desc";
    align-items: center;
    row-gap: 5px;
    margin-bottom: 10px;
}

.experience h2 {
    grid-area: title;
}

.experience-date {
    grid-area: date;
    justify-self: right;

    display: grid;
    grid-template-rows: auto auto;
    justify-items: right;
}

.experience-date h3 {
    color: #165572;
}

.experience-date h3:first-child {
    font-size: 12px;
    font-weight: bold;
}

.experience-date h3:last-child {
    font-size: 10px;
}

.experience-description {
    grid-area: desc;
}

.experience-description p {
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

#projects {
    padding-left: 20px;
}

#projects li {
    font-size: 14px;
}

#projects li span {
    color: #165572;
    font-size: 12px;
}




h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 28px;
    margin-bottom: 16px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

.picto {
    display: grid;
    grid-template-columns: 1.2em auto;
    column-gap: 0.6em;
    align-content: end;
}

.picto img {
    display: inline-block;
    height: 1.2em;
}